<div class="p-4">
    <h1 class="text-primary">
        Contact
    </h1>
    <div class="mb-2">
        <i>
            Leave us a message using one of the contact forms below.
        </i>
    </div>
    <div class="row col-12">
        <div class="col-lg-4 col-sm-12 py-2 pe-lg-4 pe-sm-0">
            <eyi-workshop-enquiries></eyi-workshop-enquiries>
        </div>
        <div class="col-lg-4 col-sm-12 py-2 pe-lg-4 pe-sm-0">
            <eyi-online-courses-enquiries></eyi-online-courses-enquiries>
        </div>
        <div class="col-lg-4 col-sm-12 py-2">
            <eyi-teacher-training-enquiries></eyi-teacher-training-enquiries>
        </div>
    </div>
    <div class="mt-2">
        <h1 class="text-primary">Visit</h1>
        <div>
            <strong>Address: </strong><span>3126, Tagore Nagar, Ludhiana, Punjab</span>
        </div>
        <div>
            <strong>Nearest cross street: </strong> <span>Jagraon Flyover</span>
        </div>
        <div>
            <strong>Public Transport: </strong> <span>Five minutes walk from centra mall</span>
        </div>
        <div>
            <img src="./assets/icons/map.JPG" class="w-100" />
        </div>
    </div>
</div>
