<div>
    <h1 class="text-primary text-start">
        For Teacher Training Question & Enquiries
    </h1>
    <form>
        <div class="form-group mb-3">
          <label class="mb-1">Your Name (requied)</label>
          <input type="text" class="form-control" placeholder="Enter your full name" />
        </div>
        <div class="form-group mb-3">
            <label>Your Email (requied)</label>
            <input type="text" class="form-control" placeholder="Enter your email" />
        </div>
        <div class="form-group mb-3">
            <label>Subject (requied)</label>
            <input type="text" class="form-control" placeholder="Enter your email" />
        </div>
        <div class="form-group mb-3">
            <label>Your message</label>
            <textarea class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary w-100">Send</button>
    </form>    
</div>
