@import '../../../assets/styles/color-codes';
@import '../../../assets/styles/variables';

:host {
    .eyi-brief-info {
        background: $eyi-very-light-gray2;
    }

    .eyi-carousel-wrapper {
        ::ng-deep {
            .carousel-inner {
                max-height: $eyi-size-400x;
                img {
                    max-height: $eyi-size-400x;
                }
            }
        }
    }

    .eyi-slider-logo {
        height: $eyi-size-75x;
        width: $eyi-size-75x;
    }
}