<div class="eyi-home-wrapper">
    <div class="eyi-carousel-wrapper">
        <mdb-carousel [controls]="true" [indicators]="true">
            <mdb-carousel-item>
              <img src="./assets/icons/sliders/image1.jpg" class="d-block w-100" />
              <div class="carousel-caption d-none d-md-block">
                <p class="text-black d-flex flex-column align-items-center">
                  <img src="./assets/icons/Everest-Yoga-logo.png" class="eyi-slider-logo mb-3" />
                  <strong>
                    ॐ असतो मा सद्गमय ।
                    तमसो मा ज्योतिर्गमय ।
                    मृत्योर्मा अमृतं गमय ।
                    ॐ शान्तिः शान्तिः शान्तिः ॥
                  </strong>
                </p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img
              src="./assets/icons/sliders/image2.jpg"
                class="d-block w-100"
              />
              <div class="carousel-caption d-none d-md-block">
                <p class="text-black"><strong>SITUATIONAL AWARENESS</strong> with <strong>EVEREST YOGA</strong></p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img
              src="./assets/icons/sliders/image3.jpg"
                class="d-block w-100"
              />
              <div class="carousel-caption d-none d-md-block">
                <p>Align your body. Align your life.</p>
              </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>    
    <div class="eyi-brief-info p-4 text-center">
      <p>
        Deepen your yoga knowledge with Everest Yoga.
      </p>
      <p>
        Everest Yoga is an amalgamation of “Authentic Traditional Yoga” & “Modern Yoga”, inclined towards creating physical fitness, mental balance and spiritual elevation. We categorize our learners as Starters, Movers & Flyers and train them according to their needs.
      </p>
      <p>
        <strong>Our Mission -</strong>
        <i>
          “To create a Healthy & Happy World through Yogic Practices.”
        </i>
      </p>
    </div>
    <div class="p-4 row">
        <div class="col-lg-3 col-md-6 col-sm-12 p-2" *ngFor="let card of cards">
            <eyi-cards></eyi-cards>
        </div>
    </div>
    <div class="p-4 row">
        <div class="col-sm-12 col-md-6 p-2" *ngFor="let summary of summaryCards">
            <eyi-summary-cards></eyi-summary-cards>
        </div>
    </div>
    <div class="px-4 pb-4">
        <h1 class="text-primary">Our Shop</h1>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 p-2" *ngFor="let shop of shopCards">
                <eyi-shop-cards></eyi-shop-cards>
            </div>
        </div>
        <div class="float-end mt-1">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
