@import '../../../assets/styles/typography';

:host {
    .eyi-about-us-yoga-banner {
        background-image: url('../../../assets/icons/faclitators.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 300px;
    }
}
