<div class="eyi-events p-4">
    <h1 class="text-primary">
        Our Events
    </h1>
    <div class="row col-12 py-4 eyi-events-wrapper" *ngFor="let event of eventsList">
        <div class="col-3 pe-3">
            <img src="./assets/icons/toronto.jpg" class="w-100" />
        </div>
        <div class="col-9">
            <div>
                <h1 class="text-primary">ABC Event</h1>
                <div class="pb-2">
                    <strong>12th December 2022, Ludhiana, Punjab, 141001</strong>
                </div>
                <div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>
    </div>
</div>
