<div class="eyi-registration p-4">
    <h1 class="text-primary">
        Register Yourself
    </h1>
    <div class="row col-12">
        <div class="col-md-6 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Course Registered</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter course" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Course Type</strong> <span class="text-danger">*</span></label>
                <select class="form-select">
                    <option>Online</option>
                    <option>Regular</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Name</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your name" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Date of birth</strong> <span class="text-danger">*</span></label>
                <input type="date" class="form-control" placeholder="Enter course" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Gender</strong> <span class="text-danger">*</span></label>
                <select class="form-select">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Nationality</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your Nationality" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Postal Address</strong> <span class="text-danger">*</span></label>
                <textarea class="form-control" placeholder="Enter your address"></textarea>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Country</strong> <span class="text-danger">*</span></label>
                <select class="form-select">
                    <option>India</option>
                    <option>Canada</option>
                    <option>USA</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>City</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your city" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Postal Address</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your Postal code" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Email</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your email" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Mobile</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your mobile number" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Reference</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter reference code" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Name of Father/Guardian/Husband</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your Father/Guardian/Husband name" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Education Qualifications</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your Education Qualifications" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Present Occupation</strong> <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter your Present Occupation" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Health status (If any)</strong> <span class="text-danger">*</span></label>
                <select class="form-select">
                    <option>Normal</option>
                    <option>Ailment</option>
                    <option>Disorder</option>
                    <option>Surgery</option>
                    <option>Disease</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Passport no</strong></label>
                <input type="text" class="form-control" placeholder="Enter your passport number" />
                <small>For Foreign National/NRIS</small>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Date of Expiry</strong></label>
                <input type="date" class="form-control" />
                <small>For Foreign National/NRIS</small>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Place of issue</strong></label>
                <input type="text" class="form-control" placeholder="Enter place of issue" />
                <small>For Foreign National/NRIS</small>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>VISA No</strong></label>
                <input type="text" class="form-control" placeholder="Enter your VISA number" />
                <small>For Foreign National/NRIS</small>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Valid Upto</strong></label>
                <input type="date" class="form-control" />
                <small>For Foreign National/NRIS</small>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>VISA Type</strong></label>
                <input type="text" class="form-control" placeholder="Enter your VISA Type" />
                <small>For Foreign National/NRIS</small>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Yoga Competition you have participated (If any)</strong></label>
                <input type="text" class="form-control" placeholder="Enter Yoga Completed" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Yoga courses completed (If any)</strong></label>
                <input type="text" class="form-control" placeholder="Enter courses Completed" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Extra-Curricular Activities</strong></label>
                <input type="text" class="form-control" placeholder="Enter your Extra-Curricular Activities" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12 pe-md-4 pe-sm-0">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Emergency Contact Name</strong><span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter emergency contact number" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group mb-3">
                <label class="mb-1"><strong>Mobile</strong><span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter mobile" />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label>Message</label>
                <textarea class="form-control" placeholder="Write Something here (Optional)..."></textarea>
                <small>Any other information you wish to give in support of your application...</small>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="terms checkbox">
                <label class="form-check-label" for="terms checkbox">I agree with <button type="button" class="btn btn-link p-0" (click)="openTermsAndConditions()">Terms and condition</button></label>
            </div>
        </div>
    </div>
    <div class="text-end">
        <button class="btn btn-outline-primary" type="button">Submit</button>
    </div>
</div>
