<div class="card eyi-card">
    <img class="card-img-top" src="./assets/icons/toronto.jpg" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Online Teacher Training</h5>
      <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      <button type="button" class="btn btn-outline-primary w-100">Book Yourself</button>
    </div>
</div>
