$eyi-primary: #2e5080;
$eyi-sub-primary: #103364;
$eyi-secondary: #f0f0f5;
$eyi-dark: #212529;
$eyi-black: #000000;
$eyi-white: #ffffff;
$eyi-light: #eef1f7;
$eyi-success: #05b76d;
$eyi-warning: #f5d16e;
$eyi-bg-color: #f1f3f6;
$eyi-border-color: #dfdfdf;
$eyi-info: #1b73d9;
$eyi-danger: #e44304;
$eyi-separator: #b8c1d0;
$eyi-very-light-gray: #dddddd;
$eyi-light-gray: #d0d0d0;
$eyi-dark-gray: #888888;
$eyi-very-light-gray2: #f1f1f1;
$eyi-very-dark-gray: #555555;
$eyi-very-dark-grayish-blue: rgba(57, 63, 72, 0.3);
$eyi-light-grayish-blue: #ced4da;
