
//width sizes
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-45{
    width: 45%;
}
.w-55 {
    width: 55%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-85 {
    width: 85%;
}
.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}


//height sizes
.h-5 {
    height: 5%;
}
.h-10 {
    height: 10%;
}
.h-15 {
    height: 15%;
}
.h-20 {
    height: 20%;
}
.h-30 {
    height: 30%;
}
.h-35 {
    height: 35%;
}
.h-40 {
    height: 40%;
}
.h-45{
    height: 45%;
}
.h-55 {
    height: 55%;
}
.h-60 {
    height: 60%;
}
.h-65 {
    height: 65%;
}
.h-70 {
    height: 70%;
}
.h-80 {
    height: 80%;
}
.h-85 {
    height: 85%;
}
.h-90 {
    height: 90%;
}
.h-95 {
    height: 95%;
}


//max-width sizes
.mxw-5 {
    max-width: 5%;
}
.mxw-10 {
    max-width: 10%;
}
.mxw-15 {
    max-width: 15%;
}
.mxw-20 {
    max-width: 20%;
}
.mxw-30 {
    max-width: 30%;
}
.mxw-35 {
    max-width: 35%;
}
.mxw-40 {
    max-width: 40%;
}
.mxw-45{
    max-width: 45%;
}
.mxw-55 {
    max-width: 55%;
}
.mxw-60 {
    max-width: 60%;
}
.mxw-65 {
    max-width: 65%;
}
.mxw-70 {
    max-width: 70%;
}
.mxw-80 {
    max-width: 80%;
}
.mxw-85 {
    max-width: 85%;
}
.mxw-90 {
    max-width: 90%;
}
.mxw-95 {
    max-width: 95%;
}

//max-height sizes
.mxh-5 {
    max-height: 5%;
}
.mxh-10 {
    max-height: 10%;
}
.mxh-15 {
    max-height: 15%;
}
.mxh-20 {
    max-height: 20%;
}
.mxh-30 {
    max-height: 30%;
}
.mxh-35 {
    max-height: 35%;
}
.mxh-40 {
    max-height: 40%;
}
.mxh-45{
    max-height: 45%;
}
.mxh-55 {
    max-height: 55%;
}
.mxh-60 {
    max-height: 60%;
}
.mxh-65 {
    max-height: 65%;
}
.mxh-70 {
    max-height: 70%;
}
.mxh-80 {
    max-height: 80%;
}
.mxh-85 {
    max-height: 85%;
}
.mxh-90 {
    max-height: 90%;
}
.mxh-95 {
    max-height: 95%;
}
