$eyi-font-size-xxxl: 1.5rem; //24px
$eyi-font-size-xxl: 1.25rem; // 20px
$eyi-font-size-xl: 1.125rem; // 18px
$eyi-font-size-lg: 1rem; // 16px
$eyi-font-size-base: 0.875rem; // 14px
$eyi-font-size-sm: 0.813rem; // 13px
$eyi-font-size-xs: 0.75rem; // 12px
$eyi-font-size-xxs: 0.625rem; // 10px
$eyi-font-size-xxxs: 0.55rem; // 8px
$eyi-font-size-xxxxs: 0.3125rem; // 5px

$eyi-space-rem-xxxl: 1.5rem; // 18px
$eyi-space-rem-xxl: 1.25rem; // 20px
$eyi-space-rem-xl: 1.125rem; // 18px
$eyi-space-rem-lg: 1rem; // 16px
$eyi-space-rem-base: 0.875rem; // 14px
$eyi-space-rem-sm: 0.813rem; // 13px
$eyi-space-rem-xs: 0.75rem; // 12px
$eyi-space-rem-xxs: 0.625rem; // 10px
$eyi-space-rem-xxxs: 0.5rem; // 8px
$eyi-space-rem-xxxxs: 0.3125rem; // 5px

$eyi-line-height-lg: 2;
$eyi-line-height-base: 1.5;
$eyi-line-height-sm: 1.2;

$eyi-font-weight-xl: 700;

$eyi-font-family: Roboto, "Helvetica Neue", sans-serif;

$eyi-font-weight-regular: 400;
$eyi-font-weight-bold: 500;
$eyi-font-weight-medium-bold: 600;
$eyi-font-weight-bolder: 700;
