// spaces
$eyi-space-xs: 2.5px;
$eyi-space-sm: 5px;
$eyi-space-md: 10px;
$eyi-space-lg: 15px;
$eyi-space-xl: 20px;
$eyi-space-xxl: 25px;
$eyi-space-xxxl: 30px;
$eyi-space-4xl: 35px;
$eyi-space-5xl: 40px;


$eyi-border-width: 1px;
$eyi-border-radius: 4px;
$eyi-border-drpdwn-radius: 8px;
$eyi-border-accordian-radius: 32px;

$eyi-min-width-createUserLabel: 200px;
$eyi-border-width-2x: 2px;
$eyi-min-width-sm: 530px;
$eyi-fullsize : 100%;

//size Pixcel //
$eyi-size-1x    : 1px;
$eyi-size-2x    : 2px;
$eyi-size-3x    : 3px;
$eyi-size-4x    : 4px;
$eyi-size-5x    : 5px;
$eyi-size-6x    : 6px;
$eyi-size-7x    : 7px;
$eyi-size-8x    : 8px;
$eyi-size-9x    : 9px;
$eyi-size-10x   : 10px;
$eyi-size-11x   : 11px;
$eyi-size-12x   : 12px;
$eyi-size-13x   : 13px;
$eyi-size-14x   : 14px;
$eyi-size-15x   : 15px;
$eyi-size-16x   : 16px;
$eyi-size-17x   : 17px;
$eyi-size-18x   : 18px;
$eyi-size-19x   : 19px;
$eyi-size-20x   : 20px;
$eyi-size-25x   : 25px;
$eyi-size-26x   : 26px;
$eyi-size-27x   : 27px;
$eyi-size-30x   : 30px;
$eyi-size-34x   : 34px;
$eyi-size-35x   : 35px;
$eyi-size-36x   : 36px;
$eyi-size-40x   : 40px;
$eyi-size-45x   : 45px;
$eyi-size-50x   : 50px;
$eyi-size-60x   : 60px;
$eyi-size-70x   : 70px;
$eyi-size-75x   : 75px;
$eyi-size-80x   : 80px;
$eyi-size-90x   : 90px;
$eyi-size-100x  : 100px;
$eyi-size-250x  : 150px;
$eyi-size-200x  : 200px;
$eyi-size-250x  : 250px;
$eyi-size-300x  : 300px;
$eyi-size-350x  : 350px;


// size percentage

$eyi-size-10xl  : 10%;
$eyi-size-15xl  : 15%;
$eyi-size-20xl  : 20%;
$eyi-size-22xl  : 25%;
$eyi-size-30xl  : 30%;
$eyi-size-35xl  : 35%;
$eyi-size-40xl  : 40%;
$eyi-size-45xl  : 45%;
$eyi-size-50xl  : 50%;
$eyi-size-55xl  : 55%;
$eyi-size-60xl  : 60%;
$eyi-size-65xl  : 65%;
$eyi-size-70xl  : 70%;
$eyi-size-70xl  : 70%;
$eyi-size-80xl  : 80%;
$eyi-size-90xl  : 90%;
$eyi-size-100xl : 100%;
$eyi-size-200xl : 200%;
$eyi-size-300xl : 300%;
$eyi-size-400xl : 400%;
$eyi-size-500xl : 500%;
