<div class="card eyi-card">
    <div>
        <img class="card-img-top" src="./assets/icons/toronto.jpg" alt="Card image cap" />
    </div>
    <div class="card-body">
      <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      <div class="d-flex align-items-center justify-content-center">
        <strong class="flex-grow-1 text-primary">INR 4000</strong><button type="button" class="btn btn-outline-primary">Buy Now</button>
      </div>
    </div>
</div>
