<div class="eyi-yoga-courses p-4">
    <h1 class="text-primary">
        Yoga Courses
    </h1>
    <div class="bg-secondary p-4 text-center mb-2">
        <div class="pb-2">
            <strong>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </strong>
        </div>
        <div class="pb-2">
            <strong>
                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            </strong>
        </div>
        <div>
            <strong>
                It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </strong>
        </div>
    </div>
    <ng-container *ngFor="let course of yogaCourses">
        <eyi-yoga-course [course]="course"></eyi-yoga-course>
    </ng-container>
    <div class="pt-3">
        <div class="text-center">
            <h1 class="text-primary">
                All essestial courses include
            </h1>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
        </div>
        <eyi-yoga-essentials></eyi-yoga-essentials>
    </div>
</div>
